# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Icon files
Icon

# Thumbnails
._*

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# macOS metadata files
.DS_Store?

# avoid Pdf files
*.pdf

# avoid node modules
node_modules/   
